<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1> Bonjour! </h1>
  <h1> Your recipe is: <%= @recipe.title %> </h1>
  <h1> The ingredients are: <%= @recipe.ingredients %> </h1>
  <h1> Prep time is: <%= @recipe.friendly_prep_time %> </h1>
</body>
</html>